$mainColor: #0077c0;
$textColor: #3e3d3f;
$inputColor: #0d0d0d;
$errorColor: #da3535;
$mainFont: "Helvetica Neue Light";

$desktopMin: 768px;
$desktopMedium: 1024px;

body {
  scroll-behavior: smooth;
  font-family: $mainFont, Helvetica, arial, sans-serif;
  margin: 0;
  padding-bottom: 250px;
}

header {

  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;

  h1 {
    height: 25px;
    color: #006ea0;
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cacaca;
    @media screen and (min-width: $desktopMin) {
      color: #005175;
      font-size: 22px;
      line-height: 30px;
      padding-bottom: 10px;
      margin-bottom: 25px;
    }
  }
}

main {
  scroll-behavior: smooth;
  @media screen and (min-width: $desktopMin) {
    width: 85%;
    margin: auto;
  }
}

#calculator {
  scroll-behavior: smooth;
  width: 80%;
  padding: 20px;
  padding-top: 15px;
  margin:auto;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  legend {
    height: 20px;
    color: #3e3d3f;
    font-size: 12px;
    letter-spacing: 0.21px;
    line-height: 20px;
    & + hr {
      border: none;
      border-bottom: 1px solid #cacaca;
      height: 0;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktopMin) {
      font-size: 16px;
    }  
  }
  label {
    font-family: "Helvetica Neue Bold";
    font-size: 12px;
    display: block;
    @media screen and (min-width: $desktopMin) {
      font-size: 14px;
    }
  }

  /**
   * Show min and max values at the sides of range inputs
   */
  @mixin indicator($value) {
    content: attr($value);
    @if $value == min {
      margin-right: 5px;
      width: 20px;
      display: inline-block;
    }
    @if $value == max {
      margin-left: 5px;
    }
    font-size: 14px;
    vertical-align: sub;
    @media screen and (min-width: $desktopMin) {
      font-size: 16px;
    }
  }
  input[type=range] {
    &:before {
      @include indicator(min);
    }
    &:after {
      @include indicator(max);
    }

    display: inline-block;
  }

  /**
  * wrapper around, and text input next to range inputs
  */
  .slide-wrapper {
    display: inline-block;
    width: 100%;
    
    input[type=text] {
      float: right;
      width: 20px;
      padding: 11px 14px 11px 14px;
      text-align: center;
      letter-spacing: 0.28px;
      font-size: 14px;
      line-height: 14px;
      @media screen and (min-width: $desktopMin) {
        font-size: 16px;
        line-height: 16px;
        width: 60px;
        padding: 13px 17px 12px 17px;
        box-sizing: border-box;
      }
  
    }
  }
  
  /**
   * Style thumb, track and progress of range inputs
   * (I've learned a lot about this from here https://css-tricks.com/sliding-nightmare-understanding-range-input/)
   */
  $thumb-d: 24px;
  $track-w: 75%;
  $track-h: 8px;
  $track-c: #cacaca;
  $filll-c: #1091cc;

  @mixin track($fill: 0) {
    border-radius: 100px;
    box-sizing: border-box;
    border: none;
    width: $track-w;
    height: $track-h;
    background: $track-c;
    
    @if $fill == 1 {
      .js & {
        background: linear-gradient($filll-c, $filll-c)
            0/ var(--sx) 100% no-repeat $track-c
      }
    }
  }

  @mixin fill() {
    height: $track-h;
    background: $filll-c
  }

  @mixin thumb() {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    
    box-sizing: border-box;
    border: none;
    width: $thumb-d;
    height: $thumb-d;
    border-radius: 50%;
    background: white;
  }
  .slide {

    &:focus {
      outline: none;
    }

    &, &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
    margin: 0;
    margin-top: 8px;
    padding: 0;
    width: $track-w;

    @media screen and (min-width: $desktopMin) {
      width: 85%;
    }


    height: $thumb-d;
    background: transparent;
    font: 1em/1 arial, sans-serif;
    
    &::-webkit-slider-runnable-track {
        @include track(1)
    }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track }
    
    &::-moz-range-progress { @include fill }
    &::-ms-fill-lower { @include fill }
    
    &::-webkit-slider-thumb {
        margin-top: .5*($track-h - $thumb-d);
        @include thumb
    }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb
    }
    
    &::-ms-tooltip { display: none }
  }


  input[type=text] {
    color: $inputColor;
    border-radius: 4px;
    padding: 13px;
    border: 1px solid #ccc;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color:#3e3d3f;
    }
  }


  /**
   * style for adding dollar sign before currency fields
   */
  .input-currency {
    position: relative;

    input {
      box-sizing: border-box;
      width: 100%;
      text-indent: 15px;
      @media screen and (min-width: $desktopMin) {
        text-indent:30px;
      }
    }  
    &:before {
      position: absolute;
      top: 0;
      content: "$";
      left: 15px;
      @media screen and (min-width: $desktopMin) {
        left: 25px;
      }
    }
  }


  /**
   * Calculate button
   */
  button {
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 12px;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: rgba(0, 119, 192, 0.8);
    color: white;
    &:focus {
      outline: none;
    }
    &:active {
      background-color: rgba(0, 119, 192, 1);
    }
  }

  /**
   * Common styles for fields, labels and errors
   */
  .visible-md {
    display: none;
  }
  @media screen and (min-width: $desktopMin) {
    .hidden-md {
      display: none !important;
    }
  }
  .field-wrapper {
    label {
      margin-top: 8px;
      margin-bottom: 5px;
    }
    .error-message {
      color: $errorColor;
      font-size: 10px;
      line-height: 13px;
      font-family: "Helvetica Neue Bold";
      display: none;
      @media screen and (min-width: $desktopMin) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &.field-error {
      input {
        border-color: $errorColor;
      }
      .error-message.hidden-md {
        display: block;
      }
      @media screen and (min-width: $desktopMin) {
        .error-message.hidden-md {
          display: none;
        }
        .error-message.visible-md {
          display: block;
        }
      }
    } 
    
  }

  #loanAmount-wrapper {
    width: 100%;
  }
  #annualTax-wrapper {
    width: 46%;
    float: left;
    margin-right: 8%;
  }
  #annualInsurance-wrapper {
    width: 46%;
    float: left;
  }


  /**
    form: desktop
  */
  @media screen and (min-width: $desktopMin) {
    max-width: 60%;
    padding: 40px;
    padding-top: 30px;
    display: inline-block;
    vertical-align: middle;
  }
}

#results {
  display: none;
  .has-results & {
    scroll-behavior: smooth;
    @media screen and (max-width: $desktopMin) {
      display: block;
    }
  }
  z-index: -1;
  position: relative;
  padding: 40px 20px 30px 20px;
  @media screen and (max-width: $desktopMin) {
    width: 80%;
  }
  margin: auto;
  margin-top: -20px;
  background-color: #eaf6fa;

  h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.5px;
    @media screen and (min-width: $desktopMin) {
      font-size: 26px;
      .writing & {
        font-size: 22px;
      }
    }
  }

  dl {
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #b2b2b2;
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
      @media screen and (min-width: $desktopMin) {
        border-top: 1px solid #cbcbcb;
        dt {
          font-size: 18px;
        }
      }
    }
    @media screen and (min-width: $desktopMin) {
      border: none;
    }
  }

  dt {
    color: #3e3d3f;
    font-size: 12px;
    font-family: "SF UI Display Light";
    display: inline;
    letter-spacing: 0.8px;
    @media screen and (min-width: $desktopMin) {
      font-family: "Helvetica Neue Light";
      letter-spacing: 0.2px;
      font-size: 14px;
    }
  }
  dd {
    color: #3e3d3f;
    float: right;
    font-family: "SF UI Display Bold";
    font-weight: bold;
    font-size: 14px;
    font-weight: 700;

    &:not(:empty):before {
      content: " $  ";
    }
    @media screen and (min-width: $desktopMin) {
      font-family: "Helvetica Neue Bold";
      font-weight: bold;
      float: none;
      margin-top: 10px;
      margin-left: 0;
      font-size: 18px;
      &:empty:before {
        content: " $ - -";
        opacity: 0.2;
      }
    }
  }

  #totalMonthlyPayment dd {
    font-size: 18px;
    @media screen and (min-width: $desktopMin) {
      font-size: 30px;
    }
  }

  /**
  * results: desktop
  */
  @media screen and (min-width: $desktopMin) {
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
    padding: 40px;
  }
}
